Signals.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Signals.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcschemes/Signals.xcscheme
Signals.xcodeproj/xcuserdata/eddyc.xcuserdatad/xcschemes/Tests.xcscheme
